<head th:replace="fragments/header :: header">
    <!--    <div th:replace="fragments/header :: header"></div>-->
</head>
<body class="d-flex flex-column min-vh-100">
<!--<div th:replace="fragments/navbar :: navbar"></div>-->
<nav th:replace="fragments/navbar :: navbar"></nav>
<!--content-->
<main>
    <div class="p-5 sticky-top"></div> <!--여백-->
    <!--게시판-->
    <div class="container px-5">
        <div class="mx-5">
            <h3>[[${board.title}]]</h3>
            <p class="border-bottom pb-2 text-muted"> 생성일: [[${#temporals.format(board.creDate, 'yyyy-MM-dd HH:mm:SS')}]] | 수정일: [[${#temporals.format(board.modDate, 'yyyy-MM-dd HH:mm:SS')}]] | 작성자: <a href="#" class="text-reset">[[${board.member.username}]]</a></p>
            <p>[(${board.content})]</p>

            <form style='display:inline' th:action="@{'/board/modify/' + ${board.bno}}" th:method="get" th:if="${#httpServletRequest.getUserPrincipal()} != null AND ${board.member.username == #httpServletRequest.getUserPrincipal().getPrincipal().getUsername}">
                <button type="submit" class="btn btn-primary">수정</button>
            </form>
            <form style='display:inline' th:action="@{'/board/' + ${board.bno}}" th:method="delete" th:if="${#httpServletRequest.getUserPrincipal()} != null AND ${board.member.username == #httpServletRequest.getUserPrincipal().getPrincipal().getUsername}">
                <button type="submit" class="btn btn-warning">삭제</button>
            </form>
            <hr>
            <button class="btn btn-secondary" onclick="history.back()">목록</button>
            <!--    뒤로가기(history.back) 말고 /list/*로 가도록 변경해야 하나? -->
            <hr>
            <ul class="list-group pb-5">
                <li class="list-group-item list-group-item-success">댓글</li>
                <th:block th:each="reply : ${board.replies}">
                    <li class="list-group-item" th:if="${reply.parent.rno == 0}">
<!--                        <div class="mb-1" th:text="(${#strings.toString(reply.ctype)} == 'DELETED')? '삭제된 댓글입니다.': ${reply.content}"></div>-->
                        <th:block th:if="(${#strings.toString(reply.ctype)} == 'DELETED')">
                            <div class="mb-1 text-muted">삭제된 댓글입니다.</div>
                            <small class="pb-2 text-muted"> 삭제일: [[${#temporals.format(reply.delDate, 'yyyy-MM-dd HH:mm:SS')}]] | 작성자: <a href="#" class="text-reset">[[${reply.member.username}]]</a></small>
                        </th:block>
                        <th:block th:if="(${#strings.toString(reply.ctype)} == 'ONBOARD')">
                            <div class="mb-1" th:text="${reply.content}"></div>
                            <small class="pb-2 text-muted"> 생성일: [[${#temporals.format(reply.creDate, 'yyyy-MM-dd HH:mm:SS')}]] | 작성자: <a href="#" class="text-reset">[[${reply.member.username}]]</a>
                                <form style='display:inline' th:action="@{'/replyWrite/' + ${board.bno} + '/' + ${reply.rno}}" th:method="delete" th:if="${#httpServletRequest.getUserPrincipal()} != null AND ${reply.member.username == #httpServletRequest.getUserPrincipal().getPrincipal().getUsername}">
                                    | <button type="submit" class="btn btn-outline-secondary btn-sm">삭제</button>
                                </form>
                                <th:block th:if="${#httpServletRequest.getUserPrincipal()}">
                                    |
                                    <a data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        대댓
                                    </a>
                                    <div class="collapse" id="collapseExample">
                                        <form class="needs-validation" novalidate th:if="${#httpServletRequest.getUserPrincipal()}" th:action="@{'/rereplyWrite/' + ${board.bno}}" method="POST">
                                            <div class="input-group my-3">
                                                <textarea class="form-control" name="content" placeholder="대댓" required></textarea>
                                                <input type="hidden" class="form-control" name="bno" th:value="${board.bno}">
                                                <input type="hidden" class="form-control" name="parent" th:value="${reply.rno}">
                                                <button class="btn btn-primary" type="submit">등록</button>
                                                <div class="invalid-feedback">
                                                    댓글을 입력해 주세요.
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </th:block>
                            </small>
                        </th:block>
                    </li>
                    <th:block th:each="reply : ${reply.children}">
                        <li class="list-group-item ps-5">
                            <div class="mb-1" th:text="${reply.content}"></div>
                            <small class="pb-2 text-muted"> 생성일: [[${#temporals.format(reply.creDate, 'yyyy-MM-dd HH:mm:SS')}]] | 작성자: <a href="#" class="text-reset">[[${reply.member.username}]]</a>
                                <form style='display:inline' th:action="@{'/replyWrite/' + ${board.bno} + '/' + ${reply.rno}}" th:method="delete" th:if="${#httpServletRequest.getUserPrincipal()} != null AND ${reply.member.username == #httpServletRequest.getUserPrincipal().getPrincipal().getUsername}">
                                    | <button type="submit" class="btn btn-outline-secondary btn-sm">삭제</button>
                                </form>
                            </small>
                        </li>
                    </th:block>
                </th:block>
                <form class="needs-validation" novalidate th:if="${#httpServletRequest.getUserPrincipal()}" th:action="@{'/replyWrite/' + ${board.bno}}" method="POST">
                    <div class="input-group my-3">
                        <textarea class="form-control" name="content" placeholder="댓글 작성" required></textarea>
                        <input type="hidden" class="form-control" name="bno" th:value="${board.bno}">
                        <button class="btn btn-primary" type="submit">등록</button>
                        <div class="invalid-feedback">
                            댓글을 입력해 주세요.
                        </div>
                    </div>
                </form>
<!--                <button onClick="window.location.reload()">새로고침</button>-->
            </ul>
        </div>

    </div>
</main>

<script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
    })()
</script>

<footer th:replace="fragments/footer :: footer"></footer>
<!-- th:replace="fragment 위치 :: fragment명" -->
<!-- th:replace는 해당 태그에 fragment로 선언한 코드로 바꾼다는 의미 -->