<head th:replace="fragments/header :: header">
    <!--    <div th:replace="fragments/header :: header"></div>-->
</head>
<body class="d-flex flex-column min-vh-100">
<!--<div th:replace="fragments/navbar :: navbar"></div>-->
<nav th:replace="fragments/navbar :: navbar"></nav>
<!--content-->
<main>
    <div class="p-5 sticky-top"></div> <!--여백-->
    <!--게시판-->
    <div class="container px-5">
        <div class="mx-5">
            <h3>[[${board.title}]]</h3>
            <p class="border-bottom pb-2 text-muted"> 생성일: [[${#temporals.format(board.creDate, 'yyyy-MM-dd HH:mm:SS')}]] | 수정일: [[${#temporals.format(board.modDate, 'yyyy-MM-dd HH:mm:SS')}]] | 작성자: <a href="#" class="text-reset">[[${board.member.username}]]</a></p>
            <p>[(${board.content})]</p>

            <form style='display:inline' th:action="@{'/board/modify/' + ${board.bno}}" th:method="get" th:if="${board.member.username == #httpServletRequest.getUserPrincipal().getPrincipal().getUsername}">
                <button type="submit" class="btn btn-primary">수정</button>
            </form>
            <form style='display:inline' th:action="@{'/board/' + ${board.bno}}" th:method="delete" th:if="${board.member.username == #httpServletRequest.getUserPrincipal().getPrincipal().getUsername}">
                <button type="submit" class="btn btn-warning">삭제</button>
            </form>
            <hr>
            <button class="btn btn-secondary" onclick="history.back()">목록</button>
            <!--    뒤로가기(history.back) 말고 /list/*로 가도록 변경해야 하나? -->
        </div>

    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
<!-- th:replace="fragment 위치 :: fragment명" -->
<!-- th:replace는 해당 태그에 fragment로 선언한 코드로 바꾼다는 의미 -->