<head th:replace="fragments/header :: header">
    <!--    <div th:replace="fragments/header :: header"></div>-->
</head>
<!--  summernote life? script 부분을 하단에 두면 내용 입력 부분이 한 박자 늦게 뜸-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

<body class="d-flex flex-column min-vh-100">
<!--<div th:replace="fragments/navbar :: navbar"></div>-->
<nav th:replace="fragments/navbar :: navbar"></nav>
<!--content-->
<main>
    <div class="p-5 sticky-top"></div> <!--여백-->

    <div class="container px-5">

        <form th:action="@{/write}" method="POST">
            <div class="mb-3">
                <input type="text" name="title" class="form-control" placeholder="제목">
            </div>
            <textarea class="form-control summernote" name="content"></textarea>
            <input type="hidden" class="form-control" name="username" th:value="${#httpServletRequest.getUserPrincipal().getPrincipal().getUsername}">
            <button id="btn-cancel" class="btn btn-secondary mt-2" onclick="history.back()">취소</button>
            <button id="btn-write" class="btn btn-primary mt-2" type="submit">완료</button>
        </form>

    </div>
</main>

    <script>
      $('.summernote').summernote({
        placeholder: '내용',
        tabsize: 2,
        height: 300,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
    </script>
<footer th:replace="fragments/footer :: footer"></footer>
<!-- th:replace="fragment 위치 :: fragment명" -->
<!-- th:replace는 해당 태그에 fragment로 선언한 코드로 바꾼다는 의미 -->