<head th:replace="fragments/header :: header">
    <!--    <div th:replace="fragments/header :: header"></div>-->
</head>
<body class="d-flex flex-column min-vh-100">
<!--<div th:replace="fragments/navbar :: navbar"></div>-->
<nav th:replace="fragments/navbar :: navbar"></nav>
<!--content-->

<div class="container p-5 m-5">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/mem">회원정보</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/mem/boards">작성글</a>
        </li>
    </ul>
    <div class="container my-4">
        <div>
            <main>
                <!--게시판-->
                <div class="container">
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item">Username : [[${#httpServletRequest.getUserPrincipal().getPrincipal().getUsername}]]</li>
                            <li class="list-group-item">
                                <div th:if="${msg}" class="alert alert-primary alert-dismissible" role="alert" id="liveAlert">
                                    <strong>완료!</strong> 비밀번호가 변경되었습니다.
                                </div>
                                Password : <a href="/mem/changeInfo" class="card-link">변경</a></li>
                            <li class="list-group-item disabled" aria-disabled="true">가입일 : [[${#temporals.format(regDate, 'yyyy-MM-dd HH:mm:SS')}]]</li>
                            <li class="list-group-item">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    탈퇴
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">회원탈퇴</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                탈퇴하시겠습니까?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                <form style='display:inline' th:action="@{mem/account}" th:method="delete">
                                                    <button type="submit" class="btn btn-danger">탈퇴</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
<!-- th:replace="fragment 위치 :: fragment명" -->
<!-- th:replace는 해당 태그에 fragment로 선언한 코드로 바꾼다는 의미 -->