   <!--navbar-->
    <nav th:fragment="navbar" class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="/list">로고</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample03">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/list">게시판</a>
                    </li>
                    <li class="nav-item" th:unless="${#httpServletRequest.getUserPrincipal()}">
                        <a class="nav-link" aria-current="page" href="/register">회원가입</a>
                    </li>
                    <li class="nav-item" th:if="${#httpServletRequest.getUserPrincipal()}">
                        <a class="nav-link" aria-current="page" href="/mem" th:text="${#httpServletRequest.getUserPrincipal().getPrincipal().getUsername}">회원정보</a>
                    </li>
                    <div class="nav-item btn-group btn-sm">
                        <form th:action="@{/login}" method="get" th:unless="${#httpServletRequest.getUserPrincipal()}">
                            <button type="submit" class="btn btn-sm btn-outline-light">로그인</button> <!-- /login -->
                        </form>
                        <form th:action="@{/logout}" method="post" th:if="${#httpServletRequest.getUserPrincipal()}">
                            <button type="submit" class="btn btn-sm btn-outline-light">로그아웃</button> <!-- /logout -->
                        </form>
                    </div>
                    <li class="nav-item" th:if="${#httpServletRequest.getUserPrincipal()}">
<!--                        th:if="${#request.isUserInRole('USER')}"-->
<!--                        th:if="${#httpServletRequest.isUserInRole('USER')}" 둘 다 동작 안 함  -->
                        <a class="nav-link disable" aria-current="page" href="/write">글쓰기</a>
                    </li>
                </ul>

                <form class="d-flex" th:action="@{/list/search}" method="get">
                    <input class="form-control me-2" type="search" name="keyword" placeholder="Search" aria-label="Search">
                    <button id="btn-search" class="btn btn-outline-primary" type="submit">Search</button>
                </form>

            </div>
        </div>
    </nav>

