<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>boards</title>
</head>
<body>
Spring boot test

<div class="container">

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Bno</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>생성일</th>
                    <th>수정일</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${board.bno}">Bno</td>
                <td th:text="${board.title}">Title</td>
                <td th:text="${board.content}">Content</td>
                <td th:text="${#temporals.format(board.creDate, 'yyyy-MM-dd HH:mm')}">생성일</td>
                <td th:text="${#temporals.format(board.modDate, 'yyyy-MM-dd HH:mm')}">수정일</td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{'/board/modify/' + ${board.bno}}">
            <input type="button" value="수정" />
        </a>
        <form th:action="@{'/board/' + ${board.bno}}" th:method="delete">
            <button type="submit" class="btn btn-warning">삭제</button>
        </form>


    </div>
</div>
</body>
</html>